@model IEnumerable<WebApplication2.Models.post>

@{
    ViewBag.Title = "Home Page";
    if (Session.Keys.Count == 0 ||Session["userRole"].ToString()== "viewer")
    {
        Layout = "~/Views/Shared/_WallLayout.cshtml";
    }
    else {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}


    <div class="row">
        <div class="container">
            @if (TempData["error_message"] != null)
            {
                <p class="alert alert-warning">password or username is wrong!</p>
            }

            @foreach (var item in Model)
            {

                <a href=" /posts/commentsAndposts/@item.Tid">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="@Url.Content(item.image)" alt="nonoe">
                            <div class="caption">
                                <h3>    @Html.DisplayFor(modelItem => item.artucle_title)  </h3>
                                <p>    @Html.DisplayFor(modelItem => item.article_body)</p>

                                <h5><b>Editor name:   @Html.DisplayFor(modelItem => item.user.Username)</b></h5>
                            </div>
                        </div>
                    </div>
                    

                </a>
            }
        </div>
    </div>


    
        



